.container {
    width: 80%;
    margin: 0 auto;
}

textarea {
    resize: none;
    margin: 0 auto;
}

.content > div {
    margin-top: .75em;
    font-family: monospace;
    justify-content: center;
    align-items: center;
}

.text-center {
    margin-left: auto;
    margin-right: auto;
}

.toolbar {
    display: flex;
    flex-flow: row-reverse wrap;
    /*width: 75%;*/
}

.button {
    margin: 0 2px;
    padding: .5em 1em;
    border: 1px solid #222;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.success {
    color: #113322;
    background-color: #43dd55;
    border-color: #2e9a3b;
}

.neutral {
    color: #112233;
    background-color: #4355ff;
    border-color: #4355aa;
}

.danger {
    color: #331122;
    background-color: #dd1133;
    border-color: #9a0b23;
}

.program-holder {
    display: flex;
    font-size: 13px;
}

.details {
    min-height: 2em;
    background: #dedede;
    width: 75%;
    margin: 0 auto;
}

.details > div {
    background: #efefef;
    color: #222222;
    white-space: pre-wrap;
    font-family: monospace;
}

.invisible {
    display: none
}

.disabled {
    background-color: grey !important;
    pointer-events: none;
}

#interpreter {
    background-color: #333;
    color: #efefef;
    margin: 0 auto;
    white-space: pre-wrap;
    padding: 2px;
}

#interpreter > .active-cell {
    background-color: red;
    color: #fff;

}